# Ignoring Mac system file
.DS_Store

#Ignore files
balance2018.csv
ols_bootstrap/auxillary/abc_ci.py

#Ignoring folders 
others/*
temp/*
ols_bootstrap/__pycache__/*
ols_bootstrap/auxillary/__pycache__/*
ols_bootstrap/ipynb/*
.ipynb_checkpoints/*
abc_tilt/*
demonstration_copies/*



